.container {
    margin: 0;
    background: url("../../assets/background1.png") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.pauseOverlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.pauseButton {
  background-color: #ffd700;
  color: black;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
